{:paths ["src"]
 :deps {io.github.chucklehead-dev/jolt-chdb
        {:git/url "https://github.com/chucklehead-dev/jolt-chdb.git"
         :git/sha "d7f1c2b684f185459d313c934835c16282e8e42c"}
        io.github.casselc/otel
        {:git/url "https://github.com/casselc/otel.git"
         :git/sha "a9badb98a86d4e0aa207aa0609da03dc8e4c087f"}
        org.clojure/data.json
        {:git/url "https://github.com/casselc/data.json.git"
         :git/sha "8a6dc9668e5c3596a335759defeb7ec80cd3b5f8"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps
                  {io.github.chucklehead-dev/jolt-hegel
                   {:git/url "https://github.com/chucklehead-dev/jolt-hegel.git"
                    :git/sha "d68ae004e45d9271d4d6378bdeb44eec6997c953"}}
                  :main-opts ["-m" "otel.exporter.chdb-test"]}}
 :tasks {test "jolt -M:test"}}
