{:paths ["src"]
 :jolt/min-version "0.8.0"
 :deps {io.github.chucklehead-dev/jolt-chdb
        {:git/url "https://github.com/chucklehead-dev/jolt-chdb.git"
         :git/sha "824115821a53e4d7da544b31dbe920fef292493f"}
        io.github.casselc/otel
        {:git/url "https://github.com/casselc/otel.git"
         :git/sha "b18830ae1fc6eef6add5e059ae302e94a1f0ed70"}
        org.clojure/data.json
        {:git/url "https://github.com/casselc/data.json.git"
         :git/sha "fce6fbd5a7dc233319b2e3e4193050b9ea1d568b"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps
                  {io.github.chucklehead-dev/jolt-hegel
                   {:git/url "https://github.com/chucklehead-dev/jolt-hegel.git"
                    :git/sha "b214f769983211431c74e427f0f35553cfba7b34"}}
                  :main-opts ["-m" "otel.exporter.chdb-test"]}}
 :tasks {test "jolt -M:test"}}
