{:paths ["src"]
 :jolt/min-version "0.8.3"
 :deps {io.github.chucklehead-dev/jolt-chdb
        {:git/url "https://github.com/chucklehead-dev/jolt-chdb.git"
         :git/sha "69e0e54e3a9e594ebf0044b3d9227682a9468546"}
        io.github.casselc/otel
        {:git/url "https://github.com/casselc/otel.git"
         :git/sha "b18830ae1fc6eef6add5e059ae302e94a1f0ed70"}
        org.clojure/data.json
        {:git/url "https://github.com/casselc/data.json.git"
         :git/sha "932444043c0c06f9e295ba4963419b2481e9dd07"}}
 :aliases {:benchmark {:extra-paths ["bench"]
                       :main-opts ["-m" "otel.exporter.chdb-benchmark"]}
           :test {:extra-paths ["test" "bench"]
                  :extra-deps
                  {io.github.chucklehead-dev/jolt-hegel
                   {:git/url "https://github.com/chucklehead-dev/jolt-hegel.git"
                    :git/sha "b214f769983211431c74e427f0f35553cfba7b34"}}
                  :main-opts ["-m" "otel.exporter.chdb-test"]}}
 :tasks {benchmark "jolt -M:benchmark"
         test "jolt -M:test"}}
